.varEin {
      
.my-label-style {
    font-weight: bold; 
    // border: 1px solid red;
    text-align:left;
    font-size: x-large;
    text-decoration: underline;
     margin-bottom: 10px;
}

.customRadioGroup {
     font-weight: bold;
     font-style:bold;
     text-align:left;
    font-size: medium;
     margin-bottom: 5px;
}

label.myBold
{
   font-weight: bold;
}
 
  }
