.Sunburst{

    .style1 {
        position: absolute; 
        width: 10%;
        visibility: visible !important;
    }

        .style2 {
        position: absolute; 
        width: 10%;
        visibility: hidden !important;
    }
}