body {
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 5px; */
    background: var(--bodycolor);
}

.container .tool {
    
    position: absolute;
    /* background-color: #7fc185;  */
    background-color: transparent;
  border: none;
  top: 8.6%;
    left: 29%;
  color: white;
  padding: 12.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.kompetenz{
    border-radius: 95%;
}

.container .automDaten {
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 3.1%;
    left: 29%;
  color: white;
  padding: 13.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.automDaten{
    border-radius: 95%;
}

.container .wissenMan {
     position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 16%;
    left: 29%;
  color: white;
  padding: 13.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.wissenMan{
    border-radius: 90%;
}

.container .digiKanban {
   position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 9.8%;
    left: 35.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.digiKanban{
    border-radius: 90%;
}

.container .toolRemoteTeam {
     position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 11.8%;
    left: 37.3%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.toolRemoteTeam{ border-radius: 90%;}

.container .soIntranet {
     position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 13%;
    left: 41.2%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.soIntranet {border-radius: 90%;}

.container .kIbeleg {
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 25%;
    left: 28.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.kIbeleg{border-radius: 90%;}

.container .harmonIT {
     position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 33.7%;
    left: 29.3%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.harmonIT{border-radius: 90%;}

.container .remoteAss {
     position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 7%;
    left: 22.3%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.remoteAss{border-radius: 90%;}

.container .drohnen {
     position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 15%;
    left: 26%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.drohnen{
    border-radius: 90%;
}

.container .smartServ {
     position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 21%;
    left: 21%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.smartServ{border-radius: 90%;}

.preMaintain{
      position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 25.4%;
    left: 26.7%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.preMaintain{border-radius: 90%;}

.kiVorAnal{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 35%;
    left: 26.7%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.kiVorAnal{border-radius:90%}

.lagerVer{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 20%;
    left: 11.7%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.lagerVer{border-radius: 90%;}

.fahlTrans {
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 25.8%;
    left: 16.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.fahlTrans{border-radius: 90%;}

.cloudDaten{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 34%;
    left: 15.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.cloudDaten{border-radius: 90%;}

.predAnal{
     position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 41.8%;
    left: 13.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.predAnal{border-radius: 90%;}

.vertrieb {
     position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 45%;
    left: 14.7%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.vertrieb{border-radius: 90%;}

.toolAnford{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 49.5%;
    left: 15.3%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.toolAnford{border-radius: 90%;}

.vrVertrieb{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
  top: 42.8%;
    left: 8.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.vrVertrieb{
    border-radius: 90%;
}

.dashboard{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 49.5%;
    left: 10.6%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.dashboard{
    border-radius: 90%;
}

.socialMedia{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 56%;
    left: 11.3%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.socialMedia{
    border-radius: 90%;
}

.addFertig{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 46.5%;
    left: 26.3%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.addFertig{
      border-radius: 90%;
}

.autoQuali{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 53.7%;
    left: 21%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.autoQuali{
      border-radius: 90%;
}

.montAssis{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 57.8%;
    left: 26.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.montAssis{
      border-radius: 90%;
}



.digAuftrag{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 56%;
    left: 19.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.digAuftrag{
      border-radius: 90%;
}

.arBasierte{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 63.5%;
    left: 22%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.arBasierte{border-radius: 90%;}

.betriebMasch{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 64%;
    left: 15.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.betriebMasch{
      border-radius: 90%;
}

.manuSystem{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 70.8%;
    left: 20.2%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.manuSystem{
      border-radius: 90%;
}


.indutrRobot{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 73.7%;
    left: 26.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.indutrRobot{
      border-radius: 90%;
}

.predLog{ position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 48%;
    left: 29%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;}

.predLog{border-radius: 90%;}

.perpekt{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 53.5%;
    left: 29.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.perpekt{border-radius: 90%;}

.eProcure{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 69.5%;
    left: 32%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.eProcure{border-radius: 90%;}

.techForen{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 48%;
    left: 44.8%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.techForen{border-radius: 90%;}

.grossGrupe{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 55.3%;
    left: 45%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.grossGrupe{border-radius: 90%;}

.kundenInteg{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 55%;
    left: 38.7%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.kundenInteg{border-radius: 90%;}


.toolAnforderung{position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 41.5%;
    left: 44.2%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;}

.toolAnforderung{border-radius: 90%;}

.kollabProd{position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 46%;
    left: 39.8%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;}
.kollabProd{border-radius: 90%;}

.designThin {
position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 40.8%;
    left: 39.4%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.designThin{border-radius: 90%;}

.plmSys{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 45%;
    left: 37.3%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.plmSys{border-radius: 90%;}

.agileTeam{
 position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 51.8%;
    left: 36%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}
.agileTeam{border-radius: 90%;}

.socRecruit{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 38.4%;
    left: 42%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.socRecruit{border-radius: 90%;}

.digiPersonal{
position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 36.6%;
    left: 38.3%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;

}

.digiPersonal{border-radius: 90%;}

.chngMan{
position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 28%;
    left: 37%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.chngMan{border-radius: 90%;}


.anpasungKultur{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 29.4%;
    left: 38.7%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}
.anpasungKultur{border-radius: 90%;}

.neuFuhrung{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
    top: 24.5%;
    left: 37.7%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.neuFuhrung{border-radius: 90%;}

.schlung{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 37.7%;
    left: 46%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.schlung{border-radius: 90%;}

.flexArbite{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 33.3%;
    left: 48%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.flexArbite{border-radius: 90%;}

.webBasierte{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 30%;
    left: 45%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.webBasierte{border-radius: 90%;}

.kompMan{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 26.8%;
    left: 45.3%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.kompMan{border-radius: 90%;}

.konsFehler{
position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 29.7%;
    left: 47.3%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.konsFehler{border-radius: 90%;}

.befRate{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 23.5%;
    left: 46.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.befRate{border-radius: 90%;}

.expertDem{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 20.5%;
    left: 43.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.expertDem{border-radius: 90%;}

.incePro{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 18.7%;
    left: 41%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.incePro{border-radius: 90%;}

.betrGesund{
    position: absolute;
    /* background-color: red;  */
    background-color: transparent;
  border: none;
   top: 16.2%;
    left: 42.5%;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 1px 0.5px;
  cursor: pointer;
}

.betrGesund{border-radius: 90%;}

.ausblend{
  position:absolute;
  top: 81%;
  left: 80%;
  width: 10%;
  text-align: center;
  background-color: transparent;
  border: none;
  border-color: transparent;
  color: #a01818;
  /* display: inline-block; */
  cursor:pointer;
  outline: 0 !important;
  display: none;
   font-weight:550;
}