body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bodycolor);
  text-align: left;
  padding: 2%;
}
.button {
  position: absolute;
  bottom: 33%;
  right: 80%;
  background-color: #a01818;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 0.5px;
  cursor: pointer;
}

.widget {
  border-style: solid;
  width: 220px;
  height: 50px;
  background-color: lightgrey;
  padding: 3px 15px;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
}

.widget .tip-content {
        position:absolute;
        top:-22px; 
        right:9999px;
        width:200px;
        margin-right:-220px; 
        padding:10px;
        color:#fff;
        background:#333;
        -webkit-box-shadow:2px 2px 5px #aaa;
           -moz-box-shadow:2px 2px 5px #aaa;
                box-shadow:2px 2px 5px #aaa;
        opacity:0;
        -webkit-transition:opacity 250ms ease-out;
           -moz-transition:opacity 250ms ease-out;
            -ms-transition:opacity 250ms ease-out;
             -o-transition:opacity 250ms ease-out;
                transition:opacity 250ms ease-out;
    }
        
        .widget .tip-content:before {
            content:' '; 
            position:absolute;
            top:25%;
            left:-16px; 
            width:0;
            height:0;
            margin-top:-8px; 
            border:8px solid transparent;
            border-right-color:#333;
        }
        .widget:hover .tip-content {
            right:-20px;
            opacity:1;
        }

.widgetP {
  border-style: solid;
  width: 220px;
  height: 50px;
  background-color: lightgrey;
  padding: 3px 15px;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
}

.widget2 {
  background-color: #a01818 !important;
  color: white;
}

.widgetP .tip-content {
        position:absolute;
        top:-22px; 
        right:9999px;
        width:200px;
        margin-right:-220px; 
        padding:10px;
        color:#fff;
        background:#333;
        -webkit-box-shadow:2px 2px 5px #aaa;
           -moz-box-shadow:2px 2px 5px #aaa;
                box-shadow:2px 2px 5px #aaa;
        opacity:0;
        -webkit-transition:opacity 250ms ease-out;
           -moz-transition:opacity 250ms ease-out;
            -ms-transition:opacity 250ms ease-out;
             -o-transition:opacity 250ms ease-out;
                transition:opacity 250ms ease-out;
    }
        
        .widgetP .tip-content:before {
            content:' '; 
            position:absolute;
            top:25%;
            left:-16px; 
            width:0;
            height:0;
            margin-top:-8px; 
            border:8px solid transparent;
            border-right-color:#333;
        }
        .widgetP:hover .tip-content {
            right:-20px;
            opacity:1;
        }